* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/cork.png);
    background-size: 200px 150px;
}

header {
    background-color: #d9d9d9;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 50px;
}

.card {

    width: 60%;
    margin: 40px auto;
}

.cube1 {
    height: 300px;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 10px;
    background-color: lightgreen;
}

.pin-position {
    position: relative;
    bottom: 70px;
}